{% extends "template.html" %}
{% block title %}About - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">

            <div class="hero-slider-section text-center">
                <div class="container hero-content">
                    <div class="row">
                        <div class="col-12 mr-auto text-center">
                            <div class="d-flex align-items-start flex-column pr-lg-5 hero-entry text-center">
                            <div class="content-text text-center" style="text-align:center;padding-top:25px;">
                            <h1 style="font-family: Roboto Slab ;line-height:0.95;font-weight: 900;color: #003976; margin-bottom: 21px;">About Us</h1>
                            <p>Vision | Mission | Motto</p>
                            </div>
                            
                          </div>
              
                                  
                        </div>
                    </div>
                </div>
                </div>
                      </div>
    </div>

{% endblock %}