{% extends "template.html" %}
{% block title %}About - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">
            <div class="content-text text-center" style="text-align:center;padding-top:25px;">
            <h1 style="font-family: Roboto Slab ;line-height:0.95;font-weight: 900;color: #003976; margin-bottom: 21px;">About Us</h1>
            <p>Vision | Mission | Motto</p>

            <div class="col-12 text-justify">
                <div class="" style="padding-top:25px;">
            <p>
                <strong>Siddhi Vinayak Bake-well Private Limited </strong>is a Private incorporated on 04 August 2011. It is classified as Non-govt company and is registered at Registrar of Companies, Gwalior. Its authorized share capital is Rs. 25,000,000 and its paid up capital is Rs. 15,079,800. It is inolved in Manufacture of other food products</p>
                <p>
                Siddhi Vinayak Bake-well Private Limited's Annual General Meeting (AGM) was last held on 30 September 2019 and as per records from Ministry of Corporate Affairs (MCA), its balance sheet was last filed on 31 March 2019.</p>
                <p>
                
                Directors of Siddhi Vinayak Bake-well Private Limited are Vinod Yadav, Sushila Yadav, Sakharam Pandit Yadav, Abhijeet Sakharam Yadav, Rohini Yadav and Sheetal Yadav.</p>
                <p>
                
                Siddhi Vinayak Bake-well Private Limited's Corporate Identification Number is <strong>(CIN) U15400MP2011PTC026516</strong> and its registration number is 26516.It's email address is <strong>svbakewell@yahoo.com</strong> and its registered address is 149, VISHWAKARMA NAGAR INDORE MP 452001

            </p>
            </div>
            </div>
            </div>

            <div class="col-12 ml-auto pr-0" style="padding-top:25px; width:100%;">
                <img style="width: 100%;transition: opacity 500ms ease-in-out  2s;margin:0px;" src="/product_images?image=vision.png" alt="crumbs">
            </div>
            </div>

                      </div>
    </div>

{% endblock %}