{% extends "template.html" %} 
{% block title %}Checkout - {% endblock %}
{% block content %}
<div class="checkout container"><div class="col-12">
    <div class="card">
        {% if products %}
        <div class="left">
            <p>Enter Your Address</p>
            <form action="/checkout/" class="form" method="POST">
                <div class="field">
                    <input type="text" name="fullname" placeholder="Full Name" required>
                </div>
                <div class="field">
                    <input type="text" name="hostelname" placeholder="Delivery Address" required>
                </div>
                <div class="field">
                    <input type="text" name="mobileno" placeholder="Mobile No." required>
                </div>
                <hr>
                <p>Payment Option</p>
                <div class="field">     
                    <div class="inputGroup">
                        <input id="COD" value="COD" name="pay" type="radio" checked/>
                        <label for="COD">Cash On Delivery</label>
                      </div>
                      <div class="inputGroup">
                        <input id="HDFC" value="Bank" name="pay" type="radio"/>
                        <label for="HDFC">Credit/Debit/Bank Transaction</label>
                      </div>
                      <p>Do Online Bank Transaction : <b><i>Cashless Payment Accepted</i></b></p>
                </div>
                <hr>
                <button type="submit" class="btn btn-highlight">Place Your Order</button>
            </form>
        </div><div class="col-12">
        <div class="right">
            <p>Cart Summary</p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </thead>
                <tfoot>
                   
                    <tr> <td colspan="2">Tax (GST 18%)</td>
                    <td>&#8377; {{tax}}</td>
                </tr><tr> 
                    <td colspan="2">Subtotal*</td>
                    <td>&#8377; {{totalprice}}</td></tr>
                </tfoot>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.cart.count}}</td>
                        <td>&#8377; {{product.buy_price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p style="font-size:0.5em;text-align: center; width: 100%">*Delivery charges may apply for inter-state delivery.</p>
        </div></div>
        {% else %}
        <p style="text-align: center; width: 100%">No Products has been added to you cart. Add Products to Continue.</p>
        {% endif %}
    </div>
</div></div>
{% endblock %}