{% extends "template.html" %}
{% block title %}Register - {% endblock %}
{% block content %}
{% from 'user-macros.html' import render_field %}

<div class="hero-slider-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="content-text text-center" style="text-align:center;padding-top:25px;">
            <h1 style="font-family: Roboto Slab ;line-height:0.95;font-weight: 900;color: #003976; margin-bottom: 21px;">Sign Up</h1>


<div class="login-form">
    <div class="card">
        <form action="" method="post" class="">
                {{ form.hidden_tag() }}
                {{ render_field(form.full_name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.password2) }}
                {{ render_field(form.mobile_no) }}
                {{ render_field(form.accept_tos) }}I accept the Terms & Conditions.
                <span style="font-size:1em;text-align: center;align-content:center;">
                {{ render_field(form.recaptcha) }} 
                
                {% for error in form.recaptcha.errors %}
                <p style="color:red;">{{ error }}</p>
                {% endfor %}
                </span>
                <p>Already Have an account? <a style="color:#003976;font-weight:900;" href="{{ url_for('login') }}">Login</a></p>
                <button type="submit" id="Submit" class="btn btn-primary">Register</button>
        </form>
        </div>
</div>

</div>
</div>
</div>
</div>
</div>


<div class="hero-slider-section text-center" style="padding-bottom:25px;">
    <div class="container hero-content">
        <div class="row">
            <div class="col-12 mr-auto text-center">
                <div class="d-flex align-items-start flex-column pr-lg-5 hero-entry text-center">
                        <a href="/shop">
                        <span class="btn btn-highlight"><span class="material-icons">
                            arrow_back
                            </span> &nbsp;Back to Product page</span></a>
                        </div>
                        
                                            </div>

                                            
            </div>
        </div>
    </div>
    </div>
<div class="d-none d-lg-block d-md-block footer-curve"></div>    
{% endblock %}
