{% extends "template.html" %} 
{% block title %}Search - {% endblock %}
{% block content %}
<div class="products container p-grid">
    {% for item in products %}
    <div class="p-grid-item">
        <a href="{{ url_for('product_index', name=item.title) }}">
            <div class="card">
                <div class="item-price">
                    <div class="left"></div>
                    <div class="right">
                        <span>Rs {{ item.buy_price }}</span>
                    </div>
                </div>
                <img src="/product_images?image={{item.image_2}}" alt="">
                <div class="product-details">
                    <p>{{item.name}}</p>
                </div>
            </div>
        </a>
    </div>
    {% else %}

<div class="hero-slider-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="content-text text-center" style="text-align:center;padding-top:25px;">
            <h1 style="font-family: Roboto Slab ;line-height:0.95;font-weight: 900;color: #003976; margin-bottom: 21px;">Sorry! No products found!</h1>
    {% endfor %}


</div>
</div>
</div>
</div>
</div>

</div>
<div class="hero-slider-section text-center">
    <div class="container hero-content">
        <div class="row">
            <div class="col-12 mr-auto text-center">
                <div class="d-flex align-items-start flex-column pr-lg-5 hero-entry text-center">
                        <a href="/shop">
                        <span class="btn btn-highlight"><span class="material-icons">
                            arrow_back
                            </span> &nbsp;Back to product page</span></a>
                        </div>
                        
                                            </div>

                                            
            </div>
        </div>
    </div>
    </div>    
{% endblock %}
